/target/
!.mvn/wrapper/maven-wrapper.jar
/logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

# dependencies
/node_modules/

# production
/src/main/resources/static/built/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
