<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Images Viewer</title>
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <!--<script src="built/bundle.js"></script>-->
    <script>
      fetch('http://localhost:8080/api/files/findAll')
          .then((resp)=>resp.json())
          .then((result)=>{
              console.log(result);
              let fragment = document.createDocumentFragment();
              result.forEach((file)=>{
                  if (file.isVideo) {
                      let video = document.createElement('video');
                      video.setAttribute('src', `file:///${file.filePath}`);
                      video.setAttribute('controls', 'true');
                      video.setAttribute('width', '500px');
                      fragment.appendChild(video);
                  } else {
                      let img = document.createElement('img');
                      img.setAttribute('src', `file:///${file.filePath}`);
                      img.setAttribute('width', '400px');
                      fragment.appendChild(img);
                  }
              });
              document.getElementById('root').appendChild(fragment);
          })
    </script>
  </body>
</html>
